<ion-content [fullscreen]="true">
<ion-content class="ion-padding reset-page">

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="title">Reset Password</ion-card-title>
    </ion-card-header>

    <!-- Kotak error (jika ada pesan error) -->
    <div class="error-box" *ngIf="errors.length > 0">
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <ion-card-content>
      <form (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-input
            type="email"
            placeholder="Email"
            [(ngModel)]="form.email"
            name="email"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            placeholder="Password baru"
            [(ngModel)]="form.password"
            name="password"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            placeholder="Konfirmasi password"
            [(ngModel)]="form.password_confirmation"
            name="password_confirmation"
            required>
          </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="reset-btn">
          Reset Password
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
