.reset-page {
  ion-card {
    margin-top: 30px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .title {
    text-align: center;
    font-weight: bold;
    color: #1e3a8a; /* biru tua */
    margin-bottom: 10px;
  }

  .card{
    margin-top: 200px;
  }

  .error-box {
    background: #fee2e2;
    color: #b91c1c;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  ion-item {
    margin-bottom: 15px;
    border-radius: 8px;
    --background: #f9fafb;
  }

  ion-input {
    padding: 8px;
  }

  .reset-btn {
    margin-top: 20px;
    --background: #2563eb;
    --background-activated: #1d4ed8;
  }
}
