<ion-header class="custom-header" translucent="true">
  <ion-toolbar>
    <div class="header-content">
      <div class="header-text">
        <h2>Hai, Petugas!</h2>
        <p>Selamat datang di sistem peternakan</p>
      </div>
      <ion-button fill="clear" class="scan-btn">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" class="ion-padding">

  <!-- Menu Grid -->
   <!-- <ion-list-header>
      <ion-label>Menu Utama</ion-label>
    </ion-list-header> -->
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/hewan">
           <!-- <ion-icon name="paw-outline"></ion-icon>  -->
           <img src="assets/icon/hewan.png">
          <p>Hewan</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/kandang">
          <!-- <ion-icon name="home-outline"></ion-icon> -->
            <img src="assets/icon/kandang.png">
          <p>Kandang</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/pemilik">
          <!-- <ion-icon name="home-outline"></ion-icon> -->
           <img src="assets/icon/pemilik.png">
          <p>Pemilik</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="menu-box"routerLink="/petugas/kegiatan">
          <!-- <ion-icon name="list-outline"></ion-icon> -->
             <img src="assets/icon/kegiatan.png">
          <p>Kegiatan</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/penyakit">
          <!-- <ion-icon name="medkit-outline" routerLink="/petugas/penyakit"></ion-icon> -->
             <img src="assets/icon/penyakit.png">
          <p>Penyakit</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/buku-lahir">
          <!-- <ion-icon name="book-outline" ></ion-icon> -->
             <img src="assets/icon/buku-kelahiran.png">
          <p>Buku Lahir</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="menu-box" routerLink="/petugas/buku-lahir">
          <ion-icon name="book-outline" ></ion-icon>
          <p>Mutasi</p>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Laporan Terbaru -->
  <ion-list>
    <ion-list-header>
      <ion-label>Laporan Terbaru</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200?1" />
      </ion-avatar>
      <ion-label>
        <h2>Budi Santoso</h2>
        <p>Jumlah Ternak: 12</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200?2" />
      </ion-avatar>
      <ion-label>
        <h2>Agus Setiawan</h2>
        <p>Status: <span class="status">Sehat</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
