.custom-bg {
  --background: #f9fafb;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

.custom-header ion-toolbar {
  --background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

ion-title {
  color: #1e293b;
  font-weight: 700;
  font-size: 20px;
}

.page-title {
  margin: 24px 0 20px;
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}

.input-field {
  --background: #ffffff;
  border-radius: 12px;
  margin-bottom: 18px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.input-field.ion-focused {
  box-shadow: 0 0 0 2px #60a5fa;
}

.save-btn {
  --background: #3b82f6;
  --border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(59, 130, 246, 0.3);
  transition: 0.3s;
}

.save-btn:hover {
  transform: translateY(-2px);
}


//alert
.custom-alert .alert-wrapper {
  border-radius: 18px;
  background: linear-gradient(145deg, #ffffff, #f3f4f6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  padding: 12px;
  animation: fadeIn 0.3s ease;
}

.custom-alert .alert-head {
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 8px;
}

.custom-alert .alert-title {
  color: #0284c7;
  font-weight: 700;
  font-size: 18px;
}

.custom-alert .alert-message {
  color: #334155;
  font-size: 15px;
  margin-top: 6px;
  line-height: 1.5;
  text-align: center;
}

.custom-alert button {
  color: #0284c7 !important;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.custom-alert button:hover {
  background: #e0f2fe;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
