:host {
  --ion-font-family: var(--app-font);
}

.penyakit-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-card {
  text-decoration: none;
}

.menu-card-text {
  h3 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }
}
