ion-content {
  --background: #f8fafb;
}

.judul-section {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0e161b;
  margin-bottom: 1rem;
  text-align: center;
}

.input-item {
  background: #e8eff3;
  border-radius: 10px;
  margin-bottom: 1rem;
  --padding-start: 16px;
  --inner-padding-end: 16px;
}

ion-label {
  color: #0e161b;
  font-weight: 500;
}

ion-input,
ion-textarea,
ion-select {
  color: #0e161b;
}

.btn-container {
  margin-top: 1.5rem;
}

ion-button {
  --background: #4cb3e6;
  font-weight: 700;
  color: #0e161b;
}
