:host {
  --ion-font-family: var(--app-font);
}

.header-inline-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-back-button {
  --color: #fff;
}

.perkawinan-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-card {
  text-decoration: none;
}

.menu-card-text {
  h3 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }
}
