<ion-content [fullscreen]="true" class="ion-padding">
  
   
  
  <div class="container-forgot">
    <!-- <div class="container-h">
     <h1 class="h1"> Forgot Password</h1>
    <p class="h3">Enter the email address you used when you joined and we'll send you instruction to rest your  password </p>
      </div> -->
    
    
    <!-- success Message -->
     <div class="allert success" *ngIf="successMessage">
       {{ successMessage }}
     </div>


     <!-- error Message -->
      <div class="allert error" *ngIf="errorMessage.length > 0">
        <ul>
          <li *ngFor="let error of errorMessage">{{ error }}</li>
        </ul>
      </div>

      <form (ngSubmit)="sendResetLink()">
        <ion-item lines="full">
          <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-submit" type="submit">SEND RESET LINK</ion-button>
      </form>        
  </div>

</ion-content>
