.container-forgot {
  max-width: 380px;
  margin: 40px auto;
  background: #f9fafb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-top: 200px;
}

ion-title {
  font-size: 18px;
  font-weight: bold;
  color: #1e40af; /* biru */
}

.alert {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #d1fae5;
  color: #065f46;
}

.alert.error {
  background-color: #fee2e2;
  color: #991b1b;
}

.btn-submit {
  --background: #2563eb;
  --background-hover: #1e40af;
  --border-radius: 8px;
  margin-top: 15px;
}

.container-h{
  text-align: center;
  margin-bottom: 20px;

}
