<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/mutasi"></ion-back-button>
    </ion-buttons>
    <ion-title>Mutasi Hewan (dipotong)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="judul-section">Input Data Pemotongan Hewan</h2>

  <!-- Pilih Pemilik -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Pilih Pemilik</ion-label>
    <ion-select placeholder="-- Ketuk Untuk Memilih --" (ionChange)="onPemilikChange($event)">
      <ion-select-option value="">-- Pilih Pemilik --</ion-select-option>
      <ion-select-option *ngFor="let p of peternakList" [value]="p.id">
        {{ p.nama_peternak }} ({{ p.nik }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Pilih Hewan -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Pilih Hewan</ion-label>
    <ion-select placeholder="-- Pilih Hewan --" (ionChange)="onHewanChange($event)"
      [disabled]="populasiList.length === 0">
      <ion-select-option value="">-- Pilih Hewan --</ion-select-option>
      <ion-select-option *ngFor="let h of populasiList" [value]="h.id">
        {{ h.code }} - {{ h.jenis_hewan }} ({{ h.jenis_kelamin }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!--  ID Hewan -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">ID Hewan</ion-label>
    <ion-input placeholder="ID Hewan" [(ngModel)]="idHewan" readonly></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Kelompok Hewan</ion-label>
    <ion-input placeholder="Kelompok Hewan" [(ngModel)]="kelompokHewan" readonly></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Jenis Hewan</ion-label>
    <ion-input placeholder="Jenis Hewan" [(ngModel)]="jenisHewan" readonly></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Ras</ion-label>
    <ion-input placeholder="Ras" [(ngModel)]="ras" readonly></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Umur</ion-label>
    <ion-input placeholder="Umur" [(ngModel)]="umur" readonly></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Berat Badan</ion-label>
    <ion-input placeholder="Masukkan Berat Badan" [(ngModel)]="beratBadan"></ion-input>
  </ion-item>


  <ion-item class="input-item">
    <ion-label position="stacked">Tanggal Pemotongan</ion-label>
    <ion-input placeholder="Pilih Tanggal" type="date" [(ngModel)]="tanggalPemotongan"></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="stacked">Tujuan Potong</ion-label>
    <ion-select placeholder="Pilih Tujuan" [(ngModel)]="alasanPemotongan">
      <ion-select-option value="konsumsi">Konsumsi Pribadi</ion-select-option>
      <ion-select-option value="pasar">Dijual ke Pasar / Konsumen</ion-select-option>
      <ion-select-option value="sumbangan">Disumbangkan (Qurban / Aqiqah / Sosial)</ion-select-option>
      <ion-select-option value="restoran">Kebutuhan Restoran / Catering</ion-select-option>
      <ion-select-option value="industri">Kebutuhan Industri / Produksi</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="stacked">Berat Daging (kg)</ion-label>
    <ion-input type="number" placeholder="Masukkan Berat" [(ngModel)]="beratDaging"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Keterangan (opsional)</ion-label>
    <ion-textarea placeholder="Tambahkan keterangan" autoGrow="true" [(ngModel)]="deskripsi"></ion-textarea>
  </ion-item>

  <!--  Tombol Simpan -->
  <div class="btn-container">
    <ion-button expand="block" color="primary" (click)="simpanData()">
      Simpan
    </ion-button>
  </div>

</ion-content>
